In [1]:
import pandas as pd

dict = {'WELLBORE_ID':['123', '223', '123'], 'VALUE':['3','5','7']}
df = pd.DataFrame(dict)
df

  WELLBORE_ID VALUE
0         123     3
1         223     5
2         123     7

In [9]:
gf = df.groupby('WELLBORE_ID').count().reset_index(drop=False)

In [10]:
gf

  WELLBORE_ID  VALUE
0         123      2
1         223      1

In [11]:
gf[gf['VALUE']>1].WELLBORE_ID.unique()

array(['123'], dtype=object)

In [12]:
list = [1,2]
len(list)

2

In [2]:
conv_top = pd.read_excel('data/fb-prob-tops.xlsx')

In [6]:
conv_top

,Unnamed: 0,Unnamed: 1,NEW Tops 2023,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Dylan's tops FB conv tops V2,Unnamed: 11,Unnamed: 12
0,NaN,UWI,P10 Conv Top. (MD),P50 Conv Top. (MD),P90 Conv Top. (MD),PE corrected (MD),LM3 (MD),LM2 (MD),TCR (MD),BCR (MD),P10 Conv Top. (mD),P50 Conv Top. (mD),P90 Conv Top. (Md)
1,0.0,100051109506W400,291.2048,291.2048,291.2048,315.96,297.93,318.88,274.69,318.83,274.7048,287.2048,290.9048
2,1.0,1AA160609506W400,256.83,256.83,256.83,260.35,273.6,279.07,256.83,304.8,278.8,293.8,293.8
3,2.0,1AA040709506W400,252.1,252.1,252.1,268.02,259.88,271.23,235.22,273,235.2,244.1,251.7
4,3.0,100130809506W400,268.0016,268.0016,268.0016,268.58,276.9,287.59,245.55,287.56,245.6016,266.4016,266.4016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,516.0,1AB043209406W400,264.1,264.1,264.1,290.4,283.48,291.36,258.01,341.48,258,259.5,262.9
518,517.0,1AB023209406W400,282,282,282,291.3,286.04,302.05,255.11,291.3,255.1,260.7,281.6
519,518.0,1AA143209406W400,300.3,300.3,300.3,301.95,291.08,292.91,273.38,301.95,273.9,287,287.6
520,519.0,1F1141509506W400,293.6,293.6,293.6,319.8,294.07,309.08,275.38,319.8,292.8,292.8,292.8
521,520.0,1F1061509506W400,306.9,306.9,306.9,309.02,310.33,311.61,306.76,309.02,306.8,306.8,306.8

In [7]:
conv_top.iloc[0, 1:]

Unnamed: 1                                     UWI
NEW Tops 2023                   P10 Conv Top. (MD)
Unnamed: 3                      P50 Conv Top. (MD)
Unnamed: 4                      P90 Conv Top. (MD)
Unnamed: 5                       PE corrected (MD)
Unnamed: 6                                LM3 (MD)
Unnamed: 7                                LM2 (MD)
Unnamed: 8                                TCR (MD)
Unnamed: 9                                BCR (MD)
Dylan's tops FB conv tops V2    P10 Conv Top. (mD)
Unnamed: 11                     P50 Conv Top. (mD)
Unnamed: 12                     P90 Conv Top. (Md)
Name: 0, dtype: object

In [9]:
conv_top.drop('Unnamed: 0', axis=1, inplace=True)
# conv_top.columns = conv_top.iloc[0, 1:]
conv_top

KeyError: "['Unnamed: 0'] not found in axis"

In [12]:
conv_top.columns = conv_top.iloc[0, 0:]

In [16]:
conv_top = conv_top.iloc[1:, :]

In [20]:
conv_top = conv_top.iloc[:, :5]

In [21]:
conv_top

,UWI,P10 Conv Top. (MD),P50 Conv Top. (MD),P90 Conv Top. (MD),PE corrected (MD)
1,100051109506W400,291.2048,291.2048,291.2048,315.96
2,1AA160609506W400,256.83,256.83,256.83,260.35
3,1AA040709506W400,252.1,252.1,252.1,268.02
4,100130809506W400,268.0016,268.0016,268.0016,268.58
5,100090609506W400,264.1,264.1,264.1,268.85
...,...,...,...,...,...
517,1AB043209406W400,264.1,264.1,264.1,290.4
518,1AB023209406W400,282,282,282,291.3
519,1AA143209406W400,300.3,300.3,300.3,301.95
520,1F1141509506W400,293.6,293.6,293.6,319.8
521,1F1061509506W400,306.9,306.9,306.9,309.02

In [27]:
import pyodbc

def dip_sql_connect():
    conn = pyodbc.connect(driver='{SQL Server}',
                          server='dipdevarmsvruw2001.database.windows.net',
                          database='dipdevarmsdbuw2001',
                          uid='arbtest',
                          pwd='L0r3tt414')
   
    return conn


cursor = dip_sql_connect()

query = """
SELECT PROJECT, SUNCOR_WELLBORE_ID, COMMON_WELLNAME, CURRENT_UWI FROM WELLBORE_DESCRIPTION
"""

df = pd.read_sql(query, cursor)
df

c:\Users\sahossain\Anaconda3\envs\mlenv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,PROJECT,SUNCOR_WELLBORE_ID,COMMON_WELLNAME,CURRENT_UWI
0,Firebag,SUN-AB0492306-093-05-W4-00,None,1AA040609305W400
1,Firebag,SUN-AB0427556-095-06-W4-00,None,1AB070809506W400
2,None,SUN-AB0343602-091-10-W4-00,None,1AB142709110W400
3,None,SUN-AB0369243-091-10-W4-00,None,1AA022009110W400
4,Meadow Creek,SUN-AB0279076-085-10-W4-00,None,100151208510W400
...,...,...,...,...
35951,MacKay River,SUN-AB0486982-093-12-W4-00,OB25,100102009312W400
35952,None,SUN-AB0194639-086-07-W4-00,None,1AA022408607W400
35953,None,SUN-AB0432878-096-13-W4-00,None,1AA051409613W400
35954,None,SUN-AB0417352-096-13-W4-00,None,1AA062309613W400
35955,None,SUN-AB0438169-096-13-W4-00,None,1AA063609613W400

In [29]:
conv_top = pd.merge(conv_top, df, how='left', left_on='UWI', right_on='CURRENT_UWI')

In [45]:

conv_top = conv_top[~conv_top['COMMON_WELLNAME'].isnull()].drop('CURRENT_UWI', axis=1).drop_duplicates()

In [49]:
conv_top = conv_top[['PROJECT', 'SUNCOR_WELLBORE_ID', 'UWI', 'COMMON_WELLNAME']].rename({'UWI':'CURRENT_UWI'},axis=1)

In [50]:
conv_top

     PROJECT          SUNCOR_WELLBORE_ID       CURRENT_UWI COMMON_WELLNAME
0    Firebag  SUN-AB0370312-095-06-W4-00  100051109506W400            OB23
3    Firebag  SUN-AB0391385-095-06-W4-00  100130809506W400            OB33
4    Firebag  SUN-AB0428810-095-06-W4-00  100090609506W400            OB99
8    Firebag  SUN-AB0441429-095-05-W4-00  100010709505W400           OB115
20   Firebag  SUN-AB0441430-095-05-W4-00  100020709505W400           OB116
..       ...                         ...               ...             ...
497  Firebag  SUN-AB0429725-094-05-W4-00  100113109405W400            OB75
498  Firebag  SUN-AB0427594-095-06-W4-00  100131209506W400            OB77
499  Firebag  SUN-AB0429726-095-05-W4-00  100150709505W400            OB90
500  Firebag  SUN-AB0429727-095-05-W4-00  100090709505W400            OB91
501  Firebag  SUN-AB0427544-095-06-W4-00  100011709506W400            OB98

[189 rows x 4 columns]