In [1]:
import pandas as pd

dict = {'WELLBORE_ID':['123', '223', '123'], 'VALUE':['3','5','7']}
df = pd.DataFrame(dict)
df

  WELLBORE_ID VALUE
0         123     3
1         223     5
2         123     7

In [9]:
gf = df.groupby('WELLBORE_ID').count().reset_index(drop=False)

In [10]:
gf

  WELLBORE_ID  VALUE
0         123      2
1         223      1

In [11]:
gf[gf['VALUE']>1].WELLBORE_ID.unique()

array(['123'], dtype=object)

In [12]:
list = [1,2]
len(list)

2